html
  head
    title dropdown-menu
    script(src='build/build.js')
    link(rel='stylesheet', href='build/build.css')

    :stylus
      body
        padding: 50px

  h1 dropdown-menu

  :coffeescript
    console.log 'Testing dropdown-menu'
